---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/legal/Hero.astro'
import CookiesText from '@/components/legal/Cookies-text.astro'
---

<Layout 
	title="Política de cookies"
	description=""
	currentPage="/cookies-policy"
	>
	<main>
		<Hero titulo="Política de cookies" />
		<CookiesText />
	</main>	
</Layout>

<style>

</style>