---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/legal/Hero.astro'
import PolicyText from '@/components/legal/Policy-text.astro'
---

<Layout 
	title="Política de protección de datos de la entidad"
	description=""
	currentPage="/politica-proteccion-datos"
	>
	<main>
		<Hero titulo="Política de protección de datos de la entidad" />
		<PolicyText />
	</main>	
</Layout>

<style>

</style>