---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/legal/Hero.astro'
import InformantChannelText from '@/components/legal/Informant-channel-text.astro'
---

<Layout 
	title="Canal del informante"
	description=""
	currentPage="/informant-channel"
	>
	<main>
		<Hero titulo="Canal del informante" />
		<InformantChannelText />
	</main>	
</Layout>

<style>

</style>