---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/legal/Hero.astro'
import YourSecureDataText from '@/components/legal/Your-secure-data-text.astro'
---

<Layout 
	title="Sus datos seguros"
	description=""
	currentPage="/your-secure-data"
	>
	<main>
		<Hero titulo="Sus datos seguros" />
		<YourSecureDataText />
	</main>	
</Layout>

<style>

</style>