---
import CTA from '../common/CTA.astro';
---

<section class="max-w-screen-xl mx-auto my-28 px-10">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-normal mb-4 text-black">¿Quieres hacer una reserva?</h2>
      <p class="text-lg text-gray-500">
        Te invitamos a probar nuestros servicios, somos el servicio líder en alquiler de coches con conductor.
      </p>
      <CTA texto="RESERVA" url="/contacto/contacta" />
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
      <!-- Paquetes -->
      <div class="bg-red-600 shadow-lg rounded-lg p-8 text-white">
        <i class="fa-solid fa-car text-3xl mb-4"></i>
        <h3 class="text-xl font-bold mb-4">Paquetes</h3>
        <p class="text-white">
          Disfruta de paquetes hechos a medida. Tenemos 5 diferentes categorías, desde disposiciones para negocios hasta paquetes turísticos. Elige el que mejor se adapte a tus necesidades. Nosotros nos encargamos del resto.
        </p>
      </div>

      <!-- Disposiciones -->
      <div class="bg-white shadow-lg rounded-lg p-8">
        <i class="fa-solid fa-clock text-3xl text-red-600 mb-4"></i>
        <h3 class="text-xl font-bold text-gray-900 mb-4">Disposiciones</h3>
        <p class="text-gray-600">
          Esta opción está destinada para aquellas personas que quieran personalizar el servicio. Podrás optar por tener un coche a disposición las horas y los kilómetros que necesites, siempre con la calidad que SERVICAR25 ofrece a sus clientes.
        </p>
      </div>

      <!-- Por destino -->
      <div class="bg-white shadow-lg rounded-lg p-8">
        <i class="fa-solid fa-location-dot text-3xl text-red-600 mb-4"></i>
        <h3 class="text-xl font-bold text-gray-900 mb-4">Por destino</h3>
        <p class="text-gray-600">
          ¿Tienes un evento? ¿Quieres ir a un partido de fútbol o al teatro? Si ese es el caso, esta opción es perfecta para ti. Elige tu punto de partida y tu punto de destino, luego elige el coche que más te guste y listo. Uno de nuestros conductores pasará a buscarte en el tiempo estipulado. ¡Siempre llegarás a tiempo!
        </p>
      </div>
    </div>
  </div>
</section>
