<div class="w-full z-0 h-screen md:h-[70vh] lg:h-[60vh] flex bg-[url('/about.jpg')] bg-cover relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black/70">
    <section class="relative top-4 md:top-11 md:my-32 left-0 right-0 m-auto px-10 flex flex-col">               
        <div>
            <h2 class="text-3xl mt-20 font-normal text-wrap mx-auto mb-10 tracking-wide">
                Cada viaje es una experiencia
            </h2>
            <h3 class="text-xl text-white text-wrap tracking-tighter w-full md:w-3/4 lg:w-1/2 mb-10">
                Llevamos desde 1990 dedicándonos al alquiler de coches de lujo con conductor y cumpliendo con las necesidades y expectativas de miles de clientes.
            </h3>
            
            <div class="mt-16">
                <button class="bg-red-600 transition-colors duration-300 ease-in-out hover:bg-red-800 text-white py-2 px-4 rounded-3xl mx-auto">
                    <i class="fas fa-calendar-alt mr-2"></i> RESERVA
                </button>
            </div>
        </div>
        
    </section>
</div>