<section class="max-w-screen-xl mx-auto px-10">
	<div class="container py-5">
		<p>
			Bienvenida/o a la
			<span class="font-bold">POLÍTICA DE COOKIES</span>
			de la página web de la entidad SERVICAR 25 TRANSPORTE DE VIAJEROS, S.L., provista de NIF / CIF B50931559, donde te explicaremos
			en un lenguaje claro y sencillo todas las cuestiones necesarias para que puedas tener el control sobre ellas en base a tus
			decisiones personales.
		</p>

		<h3 class="mt-5">¿QUÉ SON LAS COOKIES Y PARA QUÉ LAS USAMOS?</h3>
		<div>
			<p>
				Una cookie o galleta informática es un pequeño archivo de información que se guarda en tu ordenador, “smartphone” o tableta
				cada vez que visitas nuestra página web.
			</p>
			<p>
				En principio, una cookie es inofensiva: no contiene virus, troyanos, gusanos, etc. que puedan dañar tu terminal, pero sí
				tiene cierto impacto sobre tu derecho a la protección de tus datos personales, pues recoge determinada información
				concerniente a tu persona (hábitos de navegación, identidad, preferencias, etc.).
			</p>
			<p>
				Es por ello que, en base a lo establecido en la normativa aplicable (LSSI y normativa vigente de protección de datos
				personales), la activación de determinados tipos de cookies necesitará de tu autorización previa.
			</p>
			<p>
				Mediante
				<span class="font-bold">un paso tan sencillo y rápido como la marcación de una casilla</span>
				en nuestro apartado
				<span class="font-bold">CONFIGURACIÓN DE COOKIES​</span>
				, podrás dar tu autorización para la activación de las cookies que desees:
				<span class="font-bold">​toma el control y disfruta de una navegación personalizada en nuestra página​</span>.
			</p>
			<p>Antes de ello, te daremos alguna información adicional que te ayudará a una mejor toma de decisiones al respecto:</p>
			<ol>
				<li>
					<p>Las cookies pueden ser de varios tipos en función de su finalidad:</p>
					<ul>
						<li>
							<p>
								Las cookies técnicas son necesarias para que nuestra página web pueda funcionar, no necesitan de tu
								autorización y son las únicas que tenemos activadas por defecto.enida
							</p>
						</li>
						<li>
							<p>
								El resto de cookies pueden servir para mejorar nuestra página, para personalizarla en base a tus
								preferencias, o para poder mostrarte publicidad ajustada a tus búsquedas, gustos e intereses personales.
								Todas ellas las tenemos desactivadas por defecto, siendo necesaria tu autorización previa para su
								activación, que podrás dar mediante un paso tan sencillo y rápido como la marcación de una casilla en
								nuestro apartado <span class="font-bold">CONFIGURACIÓN DE COOKIES​</span>.
							</p>
						</li>
					</ul>
				</li>
				<li>
					<p>
						Algunas cookies son nuestras (las denominaremos
						<span class="font-bold">​ cookies propias</span>
						) y otras pertenecen a empresas externas que prestan servicios para nuestra página web (las denominaremos
						<span class="font-bold"> cookies de terceros</span>​ : un ejemplo podrían ser las cookies de proveedores externos como
						Google). En este sentido, es importante que sepas que algunos de dichos proveedores externos pueden estar ubicados
						fuera de España.
					</p>
					<p>
						A nivel mundial, no todos los países tienen un mismo nivel de protección de datos, existiendo algunos países más
						seguros que otros (por ejemplo, la Unión Europea es un entorno seguro para tus datos). Nuestra política es recurrir
						a proveedores confiables que, con independencia de que se encuentren o no ubicados en la Unión Europea, hayan
						adoptado las garantías adecuadas para la protección de tu información personal. No obstante, en el apartado
						denominado ​<span class="font-bold"> ¿QUÉ TIPO DE COOKIES SE UTILIZAN ACTUALMENTE EN NUESTRA PÁGINA WEB?</span>, puedes
						consultar las distintas Políticas de privacidad y protección de datos de cada uno de los referidos proveedores
						externos, a fin de tomar una decisión consciente sobre la activación o no de las ​<span class="font-bold">
							cookies de terceros</span
						>
						que utiliza nuestra página web.
					</p>
				</li>
				<li>
					<p>
						Finalmente, indicarte que, en función del plazo de tiempo que permanecen activas, las cookies pueden ser de dos
						tipos:
					</p>
					<ul>
						<li>
							<p>
								<span class="font-bold"> Cookies de sesión: </span> expiran automáticamente cuando terminas la sesión en tu
								ordenador, “smartphone” o tableta. Suelen emplearse para conservar la información necesaria mientras se te
								presta un servicio en una sola ocasión.
							</p>
						</li>
						<li>
							<p>
								<span class="bold mr-1">Cookies persistentes:</span>​permanecen almacenadas en tu ordenador, “smartphone” o
								tableta durante un periodo determinado, que puede variar desde unos minutos hasta varios años.
							</p>
						</li>
					</ul>
				</li>
			</ol>
		</div>

		<h3 class="mt-5">¿QUÉ TIPO DE COOKIES PODEMOS UTILIZAR EN NUESTRA PÁGINA WEB?</h3>
		<div>
			<ul>
				<li>
					<p class="font-bold">Cookies Técnicas:</p>
					<p>
						Las cookies técnicas son estrictamente necesarias para que nuestra página web funcione y puedas navegar por la
						misma. Este tipo de cookies son las que, por ejemplo, nos permiten identificarte, darte acceso a determinadas partes
						restringidas de la página si fuese necesario, o recordar diferentes opciones o servicios ya seleccionados por ti,
						como tus preferencias de privacidad. Por ello,
						<span class="font-bold">
							están activadas por defecto, no siendo necesaria tu autorización al respecto​.
						</span>
					</p>
					<p>
						A través de la configuración de tu navegador, puedes bloquear o alertar de la presencia de este tipo de cookies, si
						bien dicho bloqueo afectará al correcto funcionamiento de las distintas funcionalidades de nuestra página web.
					</p>
				</li>
				<li>
					<p class="font-bold">Cookies de Análisis:</p>
					<p>
						Las cookies de análisis nos permiten estudiar la navegación de los usuarios de nuestra página web en general (por
						ejemplo, qué secciones de la página son las más visitadas, qué servicios se usan más y si funcionan correctamente,
						etc.).
					</p>
					<p>
						A partir de la información estadística sobre la navegación en nuestra página web, podemos mejorar tanto el propio
						funcionamiento de la página como los distintos servicios que ofrece. Por tanto, estas cookies
						<span class="bold ml-1">​no tienen una finalidad publicitaria​</span>
						, sino que únicamente sirven para que nuestra página web funcione mejor, adaptándose a nuestros usuarios en general.
						Activándolas contribuirás a dicha mejora continua.
					</p>
					<p>
						<span class="font-bold">Puedes activar o desactivar estas cookies marcando la casilla correspondiente​</span>
						, estando desactivadas por defecto.
					</p>
				</li>
				<li>
					<p class="font-bold">Cookies de Funcionalidad y Personalización:</p>
					<p>
						Las cookies de funcionalidad nos permiten recordar tus preferencias, para personalizar a tu medida determinadas
						características y opciones generales de nuestra página web, cada vez que accedas a la misma (por ejemplo, el idioma
						en que se te presenta la información, las secciones marcadas como favoritas, tu tipo de navegador, etc.).
					</p>
					<p>
						Por tanto, este tipo de cookies
						<span class="bold ml-1">​no tienen una finalidad publicitaria</span>​, sino que activándolas mejorarás la
						funcionalidad de la página web (por ejemplo, adaptándose a tu tipo de navegador) y la personalización de la misma en
						base a tus preferencias (por ejemplo, presentando la información en el idioma que hayas escogido en anteriores
						ocasiones), lo cual contribuirá a la facilidad, usabilidad y comodidad de nuestra página durante tu navegación.
					</p>
					<p>
						<span class="font-bold">Puedes activar o desactivar estas cookies marcando la casilla correspondiente​</span>, estando
						desactivadas por defecto.
					</p>
				</li>
				<li>
					<p class="font-bold">Cookies de Publicidad:</p>
					<p>
						Las cookies de publicidad nos permiten la gestión de los espacios publicitarios incluidos en nuestra página web en
						base a criterios como el contenido mostrado o la frecuencia en la que se muestran los anuncios.
					</p>
					<p>
						Así por ejemplo, si se te ha mostrado varias veces un mismo anuncio en nuestra página web, y no has mostrado un
						interés personal haciendo clic sobre él, este no volverá a aparecer. En resumen, activando este tipo de cookies, la
						publicidad mostrada en nuestra página web será más útil y diversa, y menos repetitiva.
					</p>
					<p>
						<span class="font-bold">Puedes activar o desactivar estas cookies marcando la casilla correspondiente​</span>, estando
						desactivadas por defecto.
					</p>
				</li>
				<li>
					<p class="font-bold">Cookies de Publicidad Comportamental:</p>
					<p>
						Las cookies de publicidad comportamental nos permiten obtener información basada en la observación de tus hábitos y
						comportamientos de navegación en la web, a fin de poder mostrarte contenidos publicitarios que se ajusten mejor a
						tus gustos e intereses personales.
					</p>
					<p>
						Para que lo entiendas de manera muy sencilla, te pondremos un ejemplo ficticio: si tus últimas búsquedas en la web
						estuviesen relacionadas con literatura de suspense, te mostraríamos publicidad sobre libros de suspense.
					</p>
					<p>
						Por tanto, activando este tipo de cookies, la publicidad que te mostremos en nuestra página web no será genérica,
						sino que estará orientada a tus búsquedas, gustos e intereses, ajustándose por tanto exclusivamente a ti.
					</p>
					<p>
						<span class="font-bold">Puedes activar o desactivar estas cookies marcando la casilla correspondiente​</span>, estando
						desactivadas por defecto.
					</p>
				</li>
			</ul>
		</div>

		<h3 class="mt-5">¿QUÉ TIPO DE COOKIES SE UTILIZAN ACTUALMENTE EN NUESTRA PÁGINA WEB?</h3>
		<div>
			<p>
				A continuación, procedemos a informarte sobre todos los tipos de cookies que actualmente se utilizan en nuestra página web y
				la finalidad de cada una de las mismas:
			</p>
			<table class="cookies-type__table">
				<tr class="text-center">
					<th>Tipo de cookie</th>
					<th>Finalidad</th>
					<th>Entidad responsable y enlace a su política de privacidad y protección de datos</th>
					<th>Plazo de tiempo (de sesión / persistente)</th>
				</tr>
				<tr>
					<td>XXX</td>
					<td>XXX</td>
					<td>XXX</td>
					<td>XXX</td>
				</tr>
				<tr>
					<td>XXX</td>
					<td>XXX</td>
					<td>XXX</td>
					<td>XXX</td>
				</tr>
				<tr>
					<td>XXX</td>
					<td>XXX</td>
					<td>XXX</td>
					<td>XXX</td>
				</tr>
			</table>
		</div>

		<h3 class="mt-5">¿QUÉ PUEDES HACER CON LAS COOKIES?</h3>
		<div>
			<p>
				Cuando accedes por primera vez a nuestra página web, se te muestra una ventana en la que te informamos que las cookies
				pueden ser de varios tipos:
			</p>
			<ul>
				<li>
					<p>
						Las cookies técnicas son necesarias para que nuestra página web pueda funcionar, no necesitan de tu autorización y
						son las únicas que tenemos activadas por defecto. Por tanto, son las únicas cookies que estarán activas si solo
						pulsas el botón
						<span class="bold ml-1">​ACEPTAR​.</span>
					</p>
				</li>
				<li>
					<p>
						El resto de cookies sirven para mejorar nuestra página, para personalizarla en base a tus preferencias, o para poder
						mostrarte publicidad ajustada a tus búsquedas, gustos e intereses personales. Todas ellas las tenemos desactivadas
						por defecto, pero puedes activarlas en nuestro apartado ​<span class="font-bold"
							>CONFIGURACIÓN DE COOKIES: toma el control y disfruta de una navegación personalizada en nuestra página, con un
							paso tan sencillo y rápido como la marcación de las casillas que tú quieras.</span
						>
					</p>
				</li>
			</ul>
			<p>
				Informarte también que, una vez que hayas activado cualquier tipo de cookies, tienes la posibilidad de desactivarlas en el
				momento que desees, con el simple paso de desmarcar la casilla correspondiente en el apartado ​<span class="bold mx-1"
					>CONFIGURACIÓN DE COOKIES</span
				>
				​de nuestra página web. Siempre será tan sencillo para ti activar nuestras cookies propias como desactivarlas.
			</p>
			<p>
				Recordarte asimismo que, a través de la configuración de tu navegador, puedes bloquear o alertar de la presencia de cookies,
				si bien dicho bloqueo puede afectar al correcto funcionamiento de las distintas funcionalidades de nuestra página web en el
				caso de las cookies técnicas necesarias.
			</p>
			<p>
				Por último, indicarte que, si activas ​​<span class="bold ml-1">cookies de terceros</span>
				(empresas externas que prestan servicios para nuestra página web) y posteriormente deseas desactivarlas, podrás hacerlo de
				dos formas: usando las herramientas de desactivación de cookies de tu navegador o a través de los propios sistemas
				habilitados por dichos proveedores externos.
			</p>
			<p>
				Para que te sea mucho más fácil, a continuación te relacionamos una serie de enlaces a las pautas de desactivación de
				cookies de los navegadores de uso común:
			</p>
			<ul>
				<li>
					<p>Google Chrome.</p>
				</li>
				<li>
					<p>Mozilla Firefox.</p>
				</li>
				<li>
					<p>Internet Explorer.</p>
				</li>
				<li>
					<p>Safari​.</p>
				</li>
				<li>
					<p>Safari para IOS (iPhone y iPad)​.</p>
				</li>
				<li>
					<p>Google Chrome para Android​.</p>
				</li>
				<li>
					<p>Google Chrome para Iphone y Ipad​.</p>
				</li>
			</ul>
			<p>
				Así mismo, te relacionamos los enlaces a los sistemas propios habilitados por cada uno de los referidos proveedores externos
				para la desactivación de sus cookies:
			</p>
			<ul>
				<li>
					<p>Enlace proveedor externo 1.</p>
				</li>
				<li>
					<p>Enlace proveedor externo 2.</p>
				</li>
				<li>
					<p>Enlace proveedor externo 3.</p>
				</li>
			</ul>
		</div>

		<h5 class="mt-5 text-center">Muchas gracias por tu colaboración.</h5>
	</div>
</section>

<style>
    .cookies-type__table {
      width: 100%;
    }
    
    .cookies-type__table td,
    .cookies-type__table th {
      border: 1px solid #000; /* Ajusta el color según tu variable $navbar-sticky-text-color */
      padding: 10px;
    }
  </style>
