---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/contacto/Hero.astro'
import Form from '@/components/contacto/Form.astro'
---

<Layout 
	title="Servicar25 - Contacto"
	description="En SERVICAR25 nos adaptamos a sus necesidades y le damos la posibilidad de elegir entre vehículos desde cinco hasta nueve plazas"
	currentPage="/contacto/contacta"
	>
	<main>
		<Hero titulo="Contacto" />
		<Form />
	</main>	
</Layout>

<style>

</style>