---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/nosotros/Hero.astro'
import Stats from '@/components/nosotros/Stats.astro'
import Booking from '@/components/nosotros/Booking.astro'
---

<Layout 
	title="Servicar25 - Nosotros"
	description="En SERVICAR25 nos adaptamos a sus necesidades y le damos la posibilidad de elegir entre vehículos desde cinco hasta nueve plazas"
	currentPage="/nosotros"
	>
	<main>
		<Hero />
		<Stats />
		<Booking />
	</main>	
</Layout>

<style>

</style>
