<div class="w-full relative">
    <section class="absolute top-11 z-10 left-0 right-0 mx-auto my-32 text-center">        
        <img 
            class="mb-10 m-auto"
            alt="Logotipo de Servicar25"
            src="/public/logo-sc25-light.webp"
        >
        <h1 class="text-7xl text-center text-wrap mx-auto mb-10 tracking-wide">
            SERVICAR25
        </h1>
        <h2 class="text-xl text-center text-wrap mx-auto mb-10 tracking-tighter">
            Más de 30 años llevándote a tu destino.
        </h2>
        <button class=" bg-red-600 transition-colors duration-300 ease-in-out hover:bg-red-800 text-white py-2 px-4 rounded-3xl mx-auto mb-10">
            RESERVA
        </button>
    </section>
    
    
    <img 
        class="w-full h-screen object-cover object-top animate-fade animate-duration-1000 animate-ease-in-out filter brightness-50 "   
        src="/public/hero-car.webp"
    >
</div>
