---
import CTA from '@/components/common/CTA.astro'
---

<section class="max-w-screen-xl mx-auto px-10">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-normal mb-4 text-black">Gracias por contactar con nosotros</h2>
      <p class="text-lg text-gray-500">
        Nuestro equipo te responderá lo antes posible.
      </p>
      <CTA texto="VOLVER AL INICIO" url="/" />
      </button>
    </div>    
  </div>
</section>
