---
import CTA from '../common/CTA.astro';
---

<div class="w-full z-0 h-screen flex bg-[url('/hero-car.webp')] bg-cover relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black/50">
    <section class="relative top-4 md:top-11 md:my-32 left-0 right-0 m-auto text-center">               
        <img 
            class="mb-3 md:mb-10 m-auto"
            alt="Logotipo de Servicar25"
            src="/logo-sc25-light.webp"
        >
        <h1 class="text-2xl md:text-7xl font-bold text-center text-wrap mx-auto mb-3 md:mb-10 tracking-wide">
            SERVICAR25
        </h1>
        <h2 class="text-xl text-center text-wrap mx-auto mb-3 md:mb-10 px-4 tracking-tighter">
            Más de 30 años llevándote a tu destino.
        </h2>
        <CTA texto="RESERVA" url="/contacto/contacta" icon="fas fa-calendar-alt" />
    </section>
</div>