---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/900.css';
import '@fontsource-variable/caveat';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Poppins", system-ui, sans-serif;
		background: #fff;		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	p {
		color: rgba(78, 78, 78, 0.8);
		line-height: 1.4;
		margin-bottom: 1em;
		font-weight: 100;
		font-size: 1em;		
	}

	p strong {
		color: black;
		font-weight: 700;
	}

	h1 {
		font-weight: 900;
		color: white;
	}

	h2 {
		font-weight: 700;
		color: white;
	}

	.handwritten {
    font-family: 'Caveat Variable', cursive, "Poppins", sans-serif;
	}
</style>
